{% extends "base.html" %}

{% block content %}
  <h1>
    Car: {{ car.model }}

    {% load static %}
    <a href="{% url 'taxi:car-update' pk=car.pk %}">
      <img class="tools_stl" src="{% static "img/update.png" %}"
           alt="update button">
    </a>

    <a href="{% url 'taxi:car-delete' pk=car.pk %}">
      <img class="tools_stl" src="{% static "img/delete.png" %}"
           alt="delete button">
    </a>

    {% if user in car.drivers.all %}
      <h2>
        <a href="{% url 'taxi:toggle-car-assign' pk=car.id %}">
          <input
              style="float: right"
              class="btn btn-danger"
              type="button"
              value="Delete me from this car">
        </a>
      </h2>
    {% else %}
      <h2>
        <a href="{% url 'taxi:toggle-car-assign' pk=car.id %}">
          <input
              style="float: right"
              class="btn btn-primary"
              type="button"
              value="Assign me to this car">
        </a>
      </h2>
    {% endif %}

  </h1>

  <p><strong>Manufacturer:</strong>
    {{ car.manufacturer.name }}
    (from {{ car.manufacturer.country }})</p>
  <div class="ml-3">
    <h3>Drivers:</h3>
    {% for driver in car.drivers.all %}
      <hr>
      <p class="text-muted">license_number: {{ driver.license_number }}</p>
      <p>
        <a href="{{ driver.get_absolute_url }}">
            {{ driver.first_name }} {{ driver.last_name }}
        </a>
      </p>
    {% empty %}
      <p>No drivers for this car </p>
    {% endfor %}

  </div>
{% endblock %}
